@import url(reset.css);

body {
  width: 100%;
  background: url(../圖片/首頁背景.jpg);
}
body h1 {
  text-align: center;
}

/*  主選單*/
nav {
  background-color: white;
  position: fixed; /*選單固定*/
  width: 100%;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border: 1px solid black;
  z-index: 2;
}
nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
}
nav li {
  padding-right: 30px;
}
nav li a {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.nav_info:hover a {
  color: #3c86d1;
  padding-bottom: 35px;
  border-bottom: 3px solid #ff003d;
}
.nav_buy {
  padding-bottom: 35px;
  border-bottom: 3px solid #3c86d1;
}
nav img {
  width: 107.13px;
  height: 90px;
}
.nav_logo {
  margin-right: auto;
}
/* 漢堡 */
.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  position: fixed;
  display: none;
}
.menu_buy {
  border-bottom: 3px solid #3c86d1;
}
.menu_close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  position: fixed;
}
.hamburger {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  display: none;
}

.hamburger a img {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 40%;
}
.hamburger_ul {
  height: 80%;
  /* display: flex;
  flex-direction: column; */
}
.hamburger_li {
  text-align: center;
  font-size: 50px;
  /* padding-bottom: 4%; */
  height: 13%;
}
.hamburger_li:hover a {
  color: #3c86d1;
  border-bottom: 3px solid #ff003d;
}

/* 商品 */
main {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  background-color: #1f0555;
  border: 1px solid black;
}

/* 輪播 */
.swiper {
  width: 94.5%;
  margin-left: -10px !important;
  --swiper-pagination-color: white;
}
.swiper-slide img {
  width: 94.5%;
}
.swiper-pagination {
  margin-top: -100px !important;
}

/* 商品上半部  */
.buy_line {
  width: 100%;
}
.buy_main {
  display: flex;
  padding-top: 50px;
  padding-left: 70px;
  border-bottom: 1px solid black;
  /* width: 80%; */
}
.buy_info {
  width: 60%;
}
h1 {
  font-size: 60px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #fdc128;
  font-weight: bolder;
  text-shadow: 2px 3px 5px #4d4d4d;
}
.buy_bg {
  width: 742px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.buy_info h3 {
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #fdc128;
  padding-left: 1%;
  line-height: 20px;
}
.buy_info div {
  padding-bottom: 50px;
  padding-left: 1%;
}
.buy_info li {
  color: #fdc128;
  padding-bottom: 3px;
}
.buy_money {
  width: 40%;
  padding-top: 15%;
}
.buy_money h2 {
  font-size: 60px;
  font-weight: bolder;
  color: #fdc128;
  text-align: center;
  /* padding-left: 90px; */
  padding-bottom: 10%;
}
.buy_money .main-Discount {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  padding-bottom: 5px;
}
.buy_money .main-Discount_money {
  font-size: 25px;
  text-decoration: line-through;
  color: #fdc128;
  margin-left: 2%;
}
input {
  width: 80%;
  margin-left: 20px;
  margin-top: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 120px; */
  /* padding-right: 20%; */
  background-color: #b01439;
  font-size: 48px;
  text-align: center;
  font-weight: bolder;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}
input:hover {
  color: #fdc128;
  filter: brightness(120%);
}

/* 商品下半部  */
.buy_more {
  padding-top: 30px;
  padding-left: 80px;
}
.buy_more li {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}
.buy_more p {
  font-size: 30px;
  padding-bottom: 30px;
  color: #fdc128;
  font-weight: bolder;
}
.buy_more img {
  width: 284px;
  height: 160px;
  padding-right: 10px;
}
.buy_more h3 {
  font-size: 25px;
  color: #fdc128;
  padding-bottom: 5px;
}
span {
  display: flex;
  flex-direction: column;
}
.buy_more-li:hover img {
  filter: brightness(70%);
}
.buy_more-li:hover .buy_more-title {
  color: #b01439;
}
.buy_money2-1 {
  align-self: center;
  /* margin-top: 80%;
  margin-left: -200%; */
  font-weight: bolder;
}
.buy_money2-2 {
  align-self: center;
  /* margin-left: -32%; */
  font-weight: bolder;
  text-decoration: line-through;
}
.buy_money2-3 {
  align-self: center;
  /* margin-left: -39%; */
  font-weight: bolder;
}
.buy_money2-4 {
  align-self: center;
  /* margin-left: -38.5%; */
  font-weight: bolder;
  text-decoration: line-through;
}
.Discount {
  background-color: #ff003d;
  font-size: 20px;
  color: #fdc128;
  width: 13%;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 5px;
}
.Discount-money {
  font-size: 30px;
  color: #ff003d;
  font-weight: bolder;
}
.buy_line2 {
  width: 100%;
  transform: rotate(180deg);
}
.btn-totop {
  float: right;
  display: block;
  margin-top: 50px;
  margin-right: 30px;
}
.btn-totop img {
  width: 120px;
}

/* 頁尾  */
footer {
  margin-top: 200px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 20px;
  width: 100%;
  background-color: black;
  color: white;
}
