@import url(reset.css);

body {
  width: 100%;
  background: url(../圖片/首頁背景.jpg);
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  background-size: 100%;
}
body h1 {
  text-align: center;
}

/*  主選單*/
nav {
  background-color: white;
  position: fixed; /*選單固定*/
  width: 100%;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border: 1px solid black;
  z-index: 2;
}

nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
}
nav li {
  padding-right: 30px;
}
nav li a {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.nav_info:hover a {
  color: #3c86d1;
  padding-bottom: 35px;
  border-bottom: 3px solid #ff003d;
}
nav img {
  width: 107.13px;
  height: 90px;
}
.nav_logo {
  margin-right: auto;
}
/* 漢堡 */
.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  position: fixed;
}
.menu_close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  position: fixed;
}
.hamburger {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  display: none;
}

.hamburger a img {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 40%;
}
.hamburger_ul {
  height: 80%;
  /* display: flex;
  flex-direction: column; */
}
.hamburger_li {
  text-align: center;
  font-size: 50px;
  /* padding-bottom: 4%; */
  height: 13%;
}
.hamburger_li:hover a {
  color: #3c86d1;
  border-bottom: 3px solid #ff003d;
}

/* .hamburger_li a:before {
  content: "";
  display: block;
  height: 20px;
  background: url(../圖片/bx_news.png);
  background-repeat: no-repeat;
  position: relative;
  top: 32px;
  left: 230px;
} */

/* 首頁圖片 */
header {
  width: 100%;
  height: 60vw;
}
.frontPage {
  width: 100%;
  position: relative;
  z-index: 3;
}
.frontPage_logo {
  position: absolute;
  /* width: 100%; */
  /* top: 120px;
  left: 30px; */
  z-index: 4;
}
.bolder_glod {
  width: 100%;
}
.nowBuy {
  width: 100%;
  display: block;
  margin-top: -27%;
  position: absolute;
  z-index: 3;
}
.nowBuy h3 {
  color: white;
  font-size: 30px;
  padding-left: 5%;
  padding-bottom: 10px;
  text-shadow: 2px 3px 5px #4d4d4d;
}
.nowBuy h2 {
  color: white;
  font-size: 50px;
  padding-left: 4%;
  padding-bottom: 20px;
  text-shadow: 2px 3px 5px #4d4d4d;
}
.nowBuy input {
  font-weight: bolder;
  background-color: orangered;
  display: block;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  border: 1px solid rgb(211, 39, 39);
  font-size: 30px;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border: 5px solid white;
  border-style: double;
  opacity: 0.8;
}
.nowBuy input:hover {
  opacity: 1;
}

/* 最新資訊 */
.news_text {
  display: block;
  margin: 0 auto;
  width: 100%;
  /* height: 138px; */
  background-image: url(../圖片/標題邊框加金框.png);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.news_text h1 {
  font-size: 60px;
  font-weight: bolder;
  line-height: 138px;
}
.news_border {
  width: 100%;
}
.news_border img {
  width: 65%;
  display: block;
  margin: 0 auto;
}
/* .news_text img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
} */
/* .border {
  width: 100%;
}
.border img {
  display: block;
  margin: 0 auto;
} */
section {
  width: 100%;
  /* height: 440px; */
  height: 20vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -400px;
  flex-wrap: wrap;
  margin-bottom: 150px;
  /* background-image: url(../圖片/雙邊框銀色2.png); */
  /* background-size: 900px; */
  /* background-size: cover; */
  background-repeat: no-repeat;
}
section ul {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  /* margin-top: 46px; */
}
section li {
  border-bottom: 1px solid black;
  height: 90px;
  line-height: 100px;
  margin-left: 0.1px;
  padding-left: 10px;
  padding-right: 10px;
}
section img {
  display: block;
  width: 481px;
  /* margin-top: 46px; */
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}

/* .morenews_btn {
  height: 5vw;
  margin-top: 35px;
  padding-right: 32px;
}
.morenews_btn input {
  width: 5%;
  display: block;
  margin: 0 74%;
} */
/* 輪播 */
.swiper {
  width: 60%;
  margin-top: 0%;
  margin-left: 18% !important;
}
.news {
  width: 400px;
  height: 359px;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}
.news:hover {
  box-shadow: 0 3px 15px 3px #3c86d1;
}
.news:hover img {
  filter: brightness(110%);
}
.news:hover .info {
  color: #3c86d1;
}
.news img {
  width: 370px;
  /* width: 100%; */
  border-bottom: 2px solid black;
}
.info {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
  line-height: 1.5;
}
.swiper-slide {
  width: 370px !important;
  /* width: 41% !important; */
}
.morenews_btn {
  display: block;
}
.morenews_btn input {
  display: block;
  width: 10%;
  text-align: center;
  font-size: 20px;
  margin-top: 1%;
  margin-left: 65%;
  /* margin: 0 auto; */
  /* margin-right: 23%; */
  /* padding-top: 10px;
  padding-bottom: 10px; */
  border: 5px double #3c86d1;
  color: #3c86d1;
  /* font-size: 30px; */
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}
.morenews_btn input:hover {
  color: white;
  background-color: #3c86d1;
  border: 5px double white;
}
/* 遊戲介紹 */

.main_1-text {
  width: 100%;
  height: 8vw;
  margin-top: -8%;
  display: flex;
  transform: skewY(10.02deg);
}
.main_1-Text {
  width: 100%;
  /* height: 8vw; */
  margin-top: 10%;
  /* margin-top: 130px; */
  display: flex;
  transform: skewY(10.02deg);
  overflow: hidden;
}
.main_1-title {
  /* background: url(../圖片/標題框.png); */
  background-color: #ff003d;
  border-top: 5px solid #ff003d;
  border-right: 5px solid #ff003d;
  transform: matrix(1, 0, 0.5, 1, 0, 0); /*變形*/
  font-size: 48px;
  font-weight: bolder;
  line-height: 1.5;
  margin-left: -2%;
  margin-right: 13%;
  width: 25%;
  height: 100%;
  text-align: center;
  text-shadow: 2px 3px 5px #4d4d4d;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border-top: 10px double black;
  border-right: 10px double black;
  /* margin-right: 370px; */
  /* padding-left: 15px;
  padding-right: 10px; */
}
.main_1-text1 {
  margin-left: 37%;
}
.main_1-text1 h2 {
  font-size: 60px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 3px 5px #4d4d4d;
}
.main_1-text1 h3 {
  font-size: 45px;
  font-weight: bolder;
  text-shadow: 2px 3px 5px #4d4d4d;
}
.main_1 {
  width: 100%;
  /* height: 525px; */
  height: 35vw;
  display: flex;
  border-top: 10px solid #ff003d;
  border-bottom: 10px solid #ff003d;
  transform: skewY(10.02deg);
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  margin-bottom: 5px;
}
.main_1-text2 {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  transform: rotate(10.02deg);
  /* padding-left: 15px; */
  text-shadow: 2px 3px 5px #4d4d4d;
}
.main-1 {
  border-right: 1px solid black;
  background-image: url(../圖片/怪獸.jpg);
  background-position: center;
  background-size: cover;
  width: 52%;
  overflow: hidden;
}
.main-2 {
  border-right: 1px solid black;
  background-image: url(../圖片/對峙2.jpg);
  background-position: left;
  background-size: auto;
  width: 48%;
  overflow: hidden;
}
.main_1 .main_1-1 {
  /* width: 800.91px; */
  width: 100%;
  /* transform: rotate(-27.94deg); */
  overflow: hidden;
}
.main_1 .main_1-2 {
  /* width: 665.07px; */
  width: 100%;
  overflow: hidden;
}
.main_1-text2-text {
  width: 100%;
}
.main_1-text2 {
  /* width: 100%; */
  /* display: flex; */
  transform: skewY(10.02deg);
  margin-top: 15px;
  margin-bottom: -100px;
}
.main_1-text2 h2 {
  padding-left: 0.5%;
  font-size: 58px;
  font-weight: bolder;
}
.main_1-text2 h3 {
  padding-left: 0.5%;
  font-size: 45px;
  font-weight: bolder;
  padding-bottom: 10px;
}
.game_btn1 {
}
.game_btn1 input {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70%;
  padding-right: 70%;
  /* margin-left: 70px; */
  margin-left: -170%;
  border: 5px double #ff003d;
  color: #ff003d;
  font-size: 30px;
  transform: skewY(-10.2deg);
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.719);
}
.game_btn1 input:hover {
  color: white;
  background-color: #ff003d;
  border: 5px double white;
}
.game_bottom-img {
  transform: skewY(10.02deg);
  overflow: hidden;
  margin-top: 100px;
}
.game_bottom_img {
  width: 100%;
  height: 40vw;
}
.game_bottom_img img {
  width: 37%;
  /* margin-bottom: -400px; */
}

.game_bottom-phone {
  width: 100%;
  display: none;
  background-repeat: no-repeat;
}
.game_bottom_img {
  display: block;
  margin-left: -1%;
}
.weaponry-bottomimg_phone img {
  display: none;
}

/* 狩獵武器 */
.main_2-text {
  /* float: left; */
  width: 100%;
  height: 8vw;
  transform: skewY(-9.59deg);
  /* margin-top: 100px; */
  /* margin-bottom: 167px; */
  /* margin-top: 125px; */
  margin-top: -25%;
}
.main_2-title {
  background-color: #3c86d1;
  /* border-top: 5px solid #ff003d;
  border-right: 5px solid #ff003d; */
  transform: matrix(1, 0, 0.5, 1, 0, 0); /*變形*/
  transform: skewY(-13.59deg);
  font-size: 48px;
  text-align: center;
  font-weight: bolder;
  line-height: 1.5;
  margin-left: -2%;
  /* margin-right: 25%; */
  width: 25%;
  height: 100%;
  text-align: center;
  text-shadow: 2px 3px 5px #4d4d4d;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border-top: 10px double black;
  border-left: 10px double black;
  float: right;
}
.main_2 {
  width: 100%;
  /* height: 478.87px; */
  height: 31.5vw;
  display: flex;
  border-top: 10px solid #3c86d1;
  border-bottom: 10px solid #3c86d1;
  transform: skewY(-13.59deg);
  background-image: url(../圖片/城鎮.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_2 img {
  width: 100%;
  margin-top: -155px;
}
.main_2:hover {
  overflow: visible;
  /* margin-top: 40px; */
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  transition-duration: 0.2s;
}
.main_2:hover .main_2-img {
  filter: brightness(130%);
}
.main_2-text1 {
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 250px;
  transform: skewY(-13.59deg);
  margin-left: 25%;
  overflow: hidden;
}
.main_2-text1-1 {
  /* width: 100%; */
  align-self: flex-start;
  text-shadow: 2px 3px 5px #4d4d4d;
  overflow: hidden;
}
.main_2-text1 h2 {
  font-size: 60px;
  font-weight: bolder;
  padding-top: 10px;
}
.main_2-text1 h3 {
  font-size: 45px;
  font-weight: bolder;
}
.game_btn2 {
  align-self: baseline;
}
.game_btn2 input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 20px;
  margin-top: 40px;
  border: 5px double #3c86d1;
  color: #3c86d1;
  font-size: 30px;
  transform: skewY(13.59deg);
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}
.game_btn2 input:hover {
  color: white;
  background-color: #3c86d1;
  border: 5px double white;
}
.weaponry-bottomimg {
  overflow: hidden;
  margin-top: -200px;
}
.weaponry_bottom_img {
  width: 100%;
  height: 13vw;
  /* margin-top: -200px; */
}
.weaponry_bottom_img img {
  width: 45%;
  float: right;
}

/* 魔物 */
.main_3-text {
  /* float: left; */
  width: 100%;
  height: 8vw;
  transform: skewY(13.59deg);
  /* margin-top: 100px; */
  /* margin-bottom: 167px; */
  /* margin-top: 155px; */
  margin-top: -100px;
}
.main_3-title {
  background-color: #ff003d;
  border-top: 5px solid #ff003d;
  border-right: 5px solid #ff003d;
  transform: matrix(1, 0, 0.5, 1, 0, 0); /*變形*/
  font-size: 48px;
  line-height: 1.5;
  font-weight: bolder;
  margin-left: -2%;
  margin-right: 25%;
  margin-top: -18%;
  width: 25%;
  height: 100%;
  text-align: center;
  text-shadow: 2px 3px 5px #4d4d4d;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border-top: 10px double black;
  border-right: 10px double black;
}
.main_3 {
  width: 100%;
  height: 30vw;
  display: flex;
  border-top: 10px solid #ff003d;
  border-bottom: 10px solid #ff003d;
  transform: skewY(13.59deg);
  overflow: hidden;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  margin-top: -20px;
}
.main_3 ul {
  display: flex;
  position: relative;
}
.main_3 li {
  border: 1px solid black;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  position: relative;
  animation-timing-function: linear;
}
.master1 {
  background-image: url(../圖片/黃色.jpg);
}
.master2 {
  background-image: url(../圖片/黑色.jpg);
}
.master3 {
  background-image: url(../圖片/暗藍色.jpg);
}
.master4 {
  background-image: url(../圖片/暗綠色.jpg);
}
.master5 {
  background-image: url(../圖片/藍色.jpg);
}
.master6 {
  background-image: url(../圖片/紅色.jpg);
}
@keyframes example {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
.main_3 img {
  width: 312px;
  /* width: 700%; */
  height: 103%;
  /* height: 472px; */
  /* background-size: cover; */
  transform: skewY(13.59deg);
}
.main_3-text1 {
  display: flex;
  /* align-items: center; */
  width: 100%;
  /* height: 45vw; */
  /* height: 5%; */
  /* height: 250px; */
  transform: skewY(13.59deg);
  /* flex-wrap: wrap; */
  overflow: hidden;
}
.main_3-text1-1 {
  /* width: 100%; */
  align-self: flex-start;
  text-shadow: 2px 3px 5px #4d4d4d;
}

.main_3-text1 img {
  width: 700px;

  align-self: flex-start;
  /* transform: scaleX(-1); */
}
.main_3-text1 h2 {
  font-size: 60px;
  font-weight: bolder;
  padding-top: 10px;
}
.main_3-text1 h3 {
  font-size: 45px;
  font-weight: bolder;
  padding-top: 15px;
}

.game_btn3 input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23%;
  padding-right: 23%;
  /* width: 68%;
  height: 50%; */
  margin-left: 20px;
  border: 5px double #ff003d;
  color: #ff003d;
  font-size: 30px;
  transform: skewY(-13.59deg);
  margin-top: 40px;
  /* margin-left: 180px; */
  margin-left: 40%;
  margin-bottom: 50px;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}
.game_btn3 input:hover {
  color: white;
  background-color: #ff003d;
  border: 5px double white;
}

/* 商品資訊 */
/* .main_4-text {
  transform: skewY(-13.59deg);
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;
  transform: matrix(1, -0.24, 0, 1, 0, 0);
}
.main_4-title {
  border-top: 5px solid #3c86d1;
  border-left: 5px solid #3c86d1;
  font-size: 48px;
  font-weight: bolder;
  line-height: 100px;
  padding-right: 20px;
  padding-left: 10px;
  text-shadow: 2px 3px 5px #4d4d4d;
} */
.main_4-text {
  /* float: left; */
  width: 100%;
  height: 8vw;
  transform: skewY(-9.59deg);
  /* margin-top: 100px; */
  /* margin-bottom: 167px; */
  /* margin-top: 130px; */
  margin-top: -150px;
}
.main_4-title {
  background-color: #3c86d1;
  /* border-top: 5px solid #ff003d;
  border-right: 5px solid #ff003d; */
  transform: matrix(1, 0, 0.5, 1, 0, 0); /*變形*/
  transform: skewY(-13.59deg);
  font-size: 48px;
  line-height: 1.5;
  font-weight: bolder;
  line-height: 100px;
  /* margin-left: -2%; */
  margin-top: 8%;
  /* margin-right: 25%; */
  width: 25%;
  height: 100%;
  text-align: center;
  text-shadow: 2px 3px 5px #4d4d4d;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border-top: 10px double black;
  border-left: 10px double black;
  float: right;
  margin-top: -10px;
}
.main_4 {
  width: 100%;
  /* height: 492px; */
  height: 33vw;
  display: flex;
  border-top: 10px solid #3c86d1;
  border-bottom: 10px solid #3c86d1;
  transform: skewY(-13.59deg);
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}
.main_4-img1 {
  width: 33%;
  height: 80%;
  transform: skewY(13.59deg);
}
.main_4-img2 {
  /* width: 270px;
  height: 334px; */
  width: 33%;
  height: 80%;
  transform: skewY(13.59deg);
}
.main_4-info {
  /* box-sizing: border-box; */
  width: 25vw;
  height: 100%;
}
.main_4 h4 {
  transform: skewY(13.59deg);
  padding-left: 20px;
  padding-bottom: 5%;
  font-size: 25px;
  color: gold;
  text-shadow: 2px 3px 5px #4d4d4d;
  margin-top: 18%;
}
.main_4 ul {
  display: flex;
  transform: skewY(13.59deg);
  padding-left: 20px;
}
.main_4 li {
  padding-bottom: 5px;
  color: gold;
  text-shadow: 2px 3px 5px #4d4d4d;
}
.main_4 input {
  transform: skewY(13.59deg);
  margin-left: 5%;
  margin-top: 12%;
  /* padding-top: 30px; */
  /* padding-bottom: 30px;
  padding-left: 120px;
  padding-right: 120px; */
  width: 80%;
  height: 20%;
  border: 5px double gold;
  color: gold;
  /* background-color: #3c86d1; */
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  text-shadow: 2px 3px 5px #4d4d4d;

  font-size: 30px;
}
.main_4 .buy1:hover {
  /* color: #3c86d1; */
  background-color: rgb(85, 3, 248);
  /* border: 5px double #3c86d1; */
}
.main_4 .buy2:hover {
  /* color: #3c86d1; */
  background-color: rgb(255, 17, 0);
  /* border: 5px double #3c86d1; */
}
.main_4 .buy1 {
  background-color: rgb(80, 20, 200);
}
.main_4 .buy2 {
  background-color: rgb(189, 42, 32);
}
.main_4-1 {
  display: flex;
  width: 50%;
  padding-left: 6%;
  padding-top: 5%;
  border: 1px solid black;
  background-image: url(../圖片/藍色.png);
  background-size: auto;
}
.main_4-2 {
  display: flex;
  width: 50%;
  padding-left: 6%;
  padding-top: 5%;
  background-image: url(../圖片/紅色.png);
}
.game_btn4 {
  display: block;
}
.game_btn4 input {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 20px;
  margin-right: 50px;
  border: 5px double #3c86d1;
  color: #3c86d1;
  font-size: 30px;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
}
.game_btn4 input:hover {
  color: white;
  background-color: #3c86d1;
  border: 5px double white;
}
.btn-totop {
  display: block;
  margin-top: 150px;
  margin-left: 1350px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.btn-totop img {
  width: 120px;
}
/* 頁尾  */
footer {
  margin-top: 200px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 20px;
  width: 100%;
  background-color: black;
  color: white;
}
