@import url(reset.css);

body {
  width: 100%;
  /* background-color: rgba(128, 128, 128, 0.13); */
  background: url(../圖片/blue_page_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body h1 {
  text-align: center;
}

/*  主選單*/
nav {
  background-color: white;
  position: fixed; /*選單固定*/
  width: 100%;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border: 1px solid black;
  z-index: 2;
}
nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
}
nav li {
  padding-right: 30px;
}
nav li a {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.nav_info:hover a {
  color: #3c86d1;
  padding-bottom: 35px;
  border-bottom: 3px solid #ff003d;
}
.nav_weaponry {
  padding-bottom: 35px;
  border-bottom: 3px solid #3c86d1;
}
nav img {
  width: 107.13px;
  height: 90px;
}
.nav_logo {
  margin-right: auto;
}

/* 詳細太刀 */
/* main {
  background-color: #3c86d1;
} */
.info1 {
  display: flex;
  /* background-color: #3c86d1; */
}
.weaponry {
  width: 700px;
}
.weaponry_info {
  display: flex;
  flex-direction: column;
  width: 700px;
}
a {
  width: 81px;
  margin-left: auto;
}
.weaponry_border {
  margin-top: -150px;
}
h1 {
  font-size: 96px;
  margin-bottom: 50px;
  /* text-shadow: 2px 3px 5px #4d4d4d; */
  font-weight: bold;
  color: white;
  text-shadow: 2px 3px 5px #4d4d4d;
}
h3 {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 25px;
  color: white;
  font-weight: bold;
}
.close {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 90px;
}
iframe {
  padding-top: 10px;
  padding-left: 150px;
}
.info2 {
  display: flex;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  background: url(../圖片/大邊框.png);
}
.skill_title {
  margin: 0 auto;
  height: 75px;
  margin-bottom: 15px;
  background: url(../圖片/sec-ttl_bg-m\ .png);
  background-repeat: no-repeat;
  background-position: center;
}
.skill_title-text {
  font-size: 55px;
  padding-top: 10px;
  font-weight: bolder;
  text-align: center;
  color: white;
  text-shadow: 2px 3px 5px #4d4d4d;
}
span {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  background: url(../圖片/elem_pt.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.border {
  border: 5px double rgb(21, 8, 255);
  background-color: #3c86d1;
}
h2 {
  font-size: 36px;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 250px;
  padding-bottom: 20px;
}
.skill {
  width: 575px;
  padding-left: 95px;
}

/* 輪播 */
.swiper {
  --swiper-pagination-color: white;
}
.swiper-button-prev {
  color: white !important;
}
.swiper-button-prev:hover {
  color: black !important;
}
.swiper-button-next {
  color: white !important;
}
.swiper-button-next:hover {
  color: black !important;
}
.swiper-button-prev img {
  width: 50%;
}
.swiper-pagination {
  color: black !important;
}
