@import url(reset.css);

body {
  width: 100%;
  background: url(../圖片/武器封面.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
body h1 {
  text-align: center;
}

/*  主選單*/
nav {
  background-color: white;
  position: fixed; /*選單固定*/
  width: 100%;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border: 1px solid black;
  z-index: 2;
  top: 0;
  left: 0;
}
nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
}
nav li {
  padding-right: 30px;
}
nav li a {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.nav_info:hover a {
  color: #3c86d1;
  padding-bottom: 35px;
  border-bottom: 3px solid #ff003d;
}
.nav_weaponry {
  padding-bottom: 35px;
  border-bottom: 3px solid #3c86d1;
}
nav img {
  width: 107.13px;
  height: 90px;
}
.nav_logo {
  margin-right: auto;
}
section {
  width: 100%;
}
/* 漢堡 */
.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  position: fixed;
  display: none;
}
.menu_weap {
  border-bottom: 3px solid #3c86d1;
}
.menu_close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  position: fixed;
}
.hamburger {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  display: none;
}

.hamburger a img {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 40%;
}
.hamburger_ul {
  height: 80%;
  /* display: flex;
  flex-direction: column; */
}
.hamburger_li {
  text-align: center;
  font-size: 50px;
  /* padding-bottom: 4%; */
  height: 13%;
}
.hamburger_li:hover a {
  color: #3c86d1;
  border-bottom: 3px solid #ff003d;
}

/* 武器頂部圖片 */
header img {
  width: 100%;
}

/* 武器介紹 */
span {
  display: block;
  margin: 0 auto;

  /* background-image: url(../圖片/標題黑框blue.png); */
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 110px;
  background-position: top;
  margin-top: 40%;
}
h1 {
  font-size: 60px;
  font-weight: bolder;
  margin-top: -58px;
  color: white;
  text-shadow: 2px 3px 5px #4d4d4d;
}

/* background: url(../圖片/layer_bg-t.png); */

.title_border {
  display: block;
  width: auto;
  /* margin-left: 36%; */
  margin: 0 auto;
}

/* 武器介紹大圖  */
main {
  width: 100%;
  /* height: 140%; */
  background: url(../圖片/藍色斜邊背景1.png);
  margin-top: -20%;
  background-size: cover;
  background-repeat: no-repeat;
}
.gameinfo {
  text-align: center;
  font-size: 36px;
  padding-top: 20px;
  line-height: 1.5;
  color: white;
  padding-top: 23%;
}
article {
  margin-bottom: 150px;
}
article img {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
article h3 {
  font-size: 60px;
  text-align: center;
  color: white;
  margin-top: -95px;
  font-weight: bolder;
  text-shadow: 2px 3px 5px #4d4d4d;
}
section {
  display: flex;
  border: 1px solid black;
  width: 893px;
  transform: skewY(-5.47deg);
  overflow: hidden;
  box-shadow: 0 3px 15px 3px rgba(51, 51, 51, 0.5);
  border: 15px double #3c86d1;
  background-color: white;
  align-items: center;
  /* opacity: 0.5; */
}
section:hover {
  background-color: #3c86d1;
  border: 15px double white;
  /* opacity: 1; */
  transition-duration: 0.5s;
  transition-property: box-shadow;
  box-shadow: 0 0 40px #037efa;
  cursor: pointer;
}
h2 {
  font-size: 96px;
}
.weaponry1 {
  /* background-image: url(../圖片/太刀.png); */
  width: 57.5%;
  /* height: 40%; */
}
.weaponry1_img {
  display: block;
  width: 100%;
}
.weaponry1_text {
  width: 100%;
  /* padding-top: 45px; */
  /* margin-left: -105px; */
  margin-left: -10%;
}
.weaponry1:hover .weaponry1_text {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
  color: white;
}
.weaponry1:hover .weaponry1_img {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
}
.weaponry2 {
  margin-left: auto;
  margin-top: 10%;
  width: 57.5%;
  /* background-image: url(../圖片/雙刀icon_ic.png);
  background-size: contain; */
}
.weaponry2_img {
  width: 100%;
}
.weaponry2_text {
  /* width: 135px; */
  /* padding-top: 40px; */
  margin-left: 90px;
  /* margin-left: 68%; */
}
.weaponry2:hover .weaponry2_text {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
  color: white;
}
.weaponry2:hover .weaponry2_img {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
}
.weaponry3 {
  margin-top: 10%;
  width: 57.5%;
  /* background-image: url(../圖片/斬擊斧2.png); */
}
.weaponry3_img {
  width: 100%;
}
.weaponry3_text {
  /* width: 135px; */
  /* padding-top: 15px; */
  margin-left: 30px;
}
.weaponry3:hover .weaponry3_text {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
  color: white;
}
.weaponry3:hover .weaponry3_img {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
}
.weaponry4 {
  margin-left: auto;
  margin-top: 10%;
  width: 57.5%;
  /* background-image: url(../圖片/大錘.png); */
}
.weaponry4_img {
  width: 100%;
}
.weaponry4_text {
  /* width: 135px; */
  /* padding-top: 50px; */
  margin-left: 90px;
}
.weaponry4:hover .weaponry4_text {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
  color: white;
}
.weaponry4:hover .weaponry4_img {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
}
.weaponry5 {
  margin-top: 10%;
  width: 57.5%;
  /* background-image: url(../圖片/狩獵笛.png); */
}
.weaponry5_img {
  width: 100%;
}
.weaponry5_text {
  /* width: 135px; */
  /* padding-top: 25px; */
  margin-left: 105px;
}
.weaponry5:hover .weaponry5_text {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
  color: white;
}
.weaponry5:hover .weaponry5_img {
  transition: all 1s ease-out;
  transform: scale(1.2, 1.2);
}
.btn-totop {
  float: right;
  display: block;
  margin-top: 0%;
  margin-right: 30px;
  /* margin-top: -250px;

  /* position: fixed; */
  right: 30px;
  bottom: 0;
}
.btn-totop img {
  width: 120px;
}
.bg_bottom {
  width: 100%;
  height: 23vw;
}
/* 頁尾  */
footer {
  margin-top: -5px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 20px;
  width: 100%;
  background-color: black;
  color: white;
}
